@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    color: #0D1228;
}


p, li {
    font-family: "Nunito", sans-serif;
    color: #0D1228;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ----------------- HEADER ----------------- */

header {
    height: 100px;  
}

header .flex {
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: #0D1228;
}

.navlinks a:hover {
    border-bottom: 2px solid #0D1228;
    
}

/* ----------------- HERO ----------------- */

.hero {
    background-image: url(media/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px; 
}

.hero article {
    position: absolute;
    margin-top: 100px;
}

h1 {
    font-size: 65px;
    line-height: 68px;
}

.hero p {
    font-size: 24px;
    margin-top: 30px;
}

.hero button {
    margin-top: 60px;
    background: #0D1228;
    border: none;
    border-radius: 2px;
    padding: 10px 50px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

.hero button:hover {
    background: #1E2A5C;
    cursor: pointer;
}

/* ----------------- SERVICES ----------------- */

.services {
    background-color: #0D1228;
    width: 100%;
    max-height: 2000px; 
    position: relative;
}

.services .flex {
    align-items: unset;
}

.serviceHeading {
    padding: 60px 0;
    width: 186px;
    margin: 0 auto;
   
}

.serviceHeading h2 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
}

.service-items {
    display: grid;
    /* height: 100%; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 0; /*Fixes responsive height issue*/
    gap: 30px;
    padding-bottom: 90px;

}

.service-items div {
    border: 2px solid #E5E5E5;  
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
   
}

.services h3, .services p {
    color: white;
}

.services h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

.services p {
    margin-top: 30px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.services hr {
    width: 54px;
    margin: 24px auto;
}

 /* ----------------- ABOUT ----------------- */

.about {
    background-color: white;
    width: 100%;
    height: 850px;
    position: relative; 
   
}

.about .flex {
    flex-direction: column;
    max-height: 4050px;
    justify-content: flex-start;
    padding: 60px 0;
    
}

.about h2 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
}

.about hr {
    width: 54px;
    margin: 24px auto;
    border: 1px Solid;
}

.about p {
    margin-top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 255.5%;
    text-align: center;
}

 /* ----------------- MANAGMENT ----------------- */

.management {
    background-color:#0D1228;
    width: 100%;
    max-height: 2000px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 120px;
}

.management-items {
    display: grid;
    /* height: 100%; */
    grid-template-columns: 1fr 2fr;
    min-height: 0; /*Fixes responsive height issue*/
    gap: 15px;
    /* padding-bottom: 90px; */
}

.managementHeading {
    padding-bottom: 60px;
    width: 292px;
    margin: 0 auto;
}

.managementHeading h2 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
}

.profile-pic {
    padding: 0 30px;
}

.profile-pic h3 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;

}

.profile-pic img {
    width: 100%;
}

.management p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.management span {
    font-style: normal;
    font-weight: bolder; 
}


/* ----------------- CONTACT ----------------- 

.contactbg {
    background-color: white;
    width: 100%;
    height: 1000px; 
    position: absolute;
    left:0;
    right:0;
    top: 3200px;
}

.contactHeading {
    position: relative;
    top: 2200px;
    width: 244px;
    margin: 0 auto;
}

.contactHeading h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
}


.contact article {
    position: relative;
    top: 2300px;
    width: 950px;
    margin: 0 auto;
}

.form {
    display: inline-block;
    width: 460px;
    position: absolute;
}

.address {
    display: inline-block;
    width: 280px;
    position: absolute;
    left: 650px;

}

.address p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.address a:hover {
    text-decoration: underline;
}

.address span {
    font-weight: bold;
}


.form input {
    font-style: normal;
    font-weight: normal;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 15px;
    color: white;
}

input[type=text], select {
    width: 460px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 2px;
    background-color: #0D1228;
    border: none;
  }

  input[type=email], select {
    width: 460px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 2px;
    background-color: #0D1228;
    border: none;
  }

  textarea {
    width: 460px;
    height: 250px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 2px;
    background-color: #0D1228;
    border: none;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ 
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- 
    color: white;
  }

  input[type=submit] {
    background-color: #287205;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 215px;
  }
  
  input[type=submit]:hover {
    background-color: #349506;
  }

.socialIcons img {
    margin-top: 30px;
    margin-right: 30px;
}

/* ----------------- FOOTER -----------------

.footerbg {
    background-color: #0D1228;
    width: 100%;
    height: 200px; 
    position: absolute;
    left:0;
    right:0;
    top: 4050px;
}

footer article {
    position: absolute;
    top: 4100px;

}

footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

footer a {
    color: white;
}







