@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    color: #0D1228;
}


p, li {
    font-family: "Nunito", sans-serif;
    color: #0D1228;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ----------------- HEADER ----------------- */

header {
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

header .flex {
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li {
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: #0D1228;
}

.navlinks a:hover {
    border-bottom: 2px solid #0D1228;
    
}

label {
    font-size: 28px;
    display: none;
    color: #0D1228;
    
}

#toggle {
    display: none;
}

.mobileNav {
    display: none;
}
.toggleMobileNav {
    display: none;
}

@media only screen and (max-width: 720px) {
    header {
        height: auto;
        position: relative;
    }
    .navlinks {
        display: none;
    }
    label {
        display: block; 
    }
    .mobileNav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .mobileNav li {
        margin: 5px 0;
        padding: 5px 0;
    }
    .mobileNav li a {
        border-bottom: 1px solid #0D1228;
    }
    #toggle:checked + .toggleMobileNav {
        display: block;
    }
}

/* ----------------- HERO ----------------- */

.hero {
    background-image: url(media/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px; 
}

.hero article {
    position: absolute;
    margin-top: 100px;
}

h1 {
    font-size: 65px;
    line-height: 68px;
}

.hero p {
    font-size: 24px;
    margin-top: 30px;
}

.hero button {
    margin-top: 60px;
    background: #0D1228;
    border: none;
    border-radius: 2px;
    padding: 10px 50px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

.hero button:hover {
    background: #1E2A5C;
    cursor: pointer;
}

@media (max-width: 470px) {
    .hero article {
        text-align: center;
    }

    .hero h1 {
        font-size: 48px;
    }
    .hero p {
        font-size: 20px;
    }

   
}

/* ----------------- SERVICES ----------------- */

.services {
    background-color: #0D1228;
    width: 100%;
    max-height: 2000px; 
    position: relative;
}

.services .flex {
    align-items: unset;
}

.serviceHeading {
    padding: 60px 0;
    width: 186px;
    margin: 0 auto;
   
}

.serviceHeading h2 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
}

.service-items {
    display: grid;
    /* height: 100%; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 0; /*Fixes responsive height issue*/
    gap: 30px;
    padding-bottom: 90px;

}

.service-items div {
    border: 2px solid #E5E5E5;  
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
   
}

.services h3, .services p {
    color: white;
}

.services h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

.services p {
    margin-top: 30px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.services hr {
    width: 54px;
    margin: 24px auto;
}

 @media(max-width: 720px) {
    .service-items {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
}

 /* ----------------- ABOUT ----------------- */

.about {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-height: 950;
    position: relative; 
    
}

.about .container {
    margin-bottom: 90px;
}

.about h2 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    padding: 60px 0px 15px 0px;
}

.about hr {
    width: 54px;
    margin: 24px auto;
    border: 1px Solid;
}

.about p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 255.5%;
    text-align: center;
    padding: 60px 0;
}

 /* ----------------- MANAGMENT ----------------- */

.management {
    background-color:#0D1228;
    width: 100%;
    max-height: 2000px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 120px;
}

.management-items {
    display: grid;
    /* height: 100%; */
    grid-template-columns: 1fr 2fr;
    min-height: 0; /*Fixes responsive height issue*/
    gap: 15px;
    /* padding-bottom: 90px; */
}

.managementHeading {
    padding-bottom: 60px;
    width: 292px;
    margin: 0 auto;
}

.managementHeading h2 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
}

.profile-pic {
    padding: 0 30px;
}

.profile-pic h3 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;

}

.profile-pic img {
    width: 100%;
}

.management p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.management span {
    font-style: normal;
    font-weight: bolder; 
}

@media(max-width: 720px) {
    .management-items {
        grid-template-columns: 1fr;
    }
}


 /* ----------------- CONTACT ----------------- */

.contact {
    background-color: white;
    width: 100%;
    height: auto; 
    position: relative;
}

.contact-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.contactHeading {
    position: relative;
    width: 244px;
    margin: 60px auto;
}

.contactHeading h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
}

.address p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.address a:hover {
    text-decoration: underline;
}

.address span {
    font-weight: bold;
}

.form input {
    font-style: normal;
    font-weight: normal;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 15px;
    color: white;
}

input[type=text], select {
    width: 460px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 2px;
    background-color: #0D1228;
    border: none;
  }

  input[type=email], select {
    width: 460px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 2px;
    background-color: #0D1228;
    border: none;
  }

  textarea {
    width: 460px;
    height: 250px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 2px;
    background-color: #0D1228;
    border: none;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
  }

  @media (max-width: 470px) {
    input[type=text], input[type=email], textarea {
        width: 300px;
    }
}

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+  */
    color: white;
  }
  :-moz-placeholder { /* Firefox 18-  */
    color: white;
  }

  input[type=submit] {
    background-color: #287205;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 215px;
  }
  
  input[type=submit]:hover {
    background-color: #349506;
  }

.socialIcons img {
    margin-top: 30px;
    margin-right: 30px;
}

@media only screen and (max-width: 865px) {
  .address {
      text-align: center;
      padding: 30px 0;
  }
  .form input[type=submit] {
    width: 100%;
  }

  .socialIcons {
      display: flex;
      justify-content: center;
  }

}

/* ----------------- FOOTER ----------------- */

.footer {
    background-color: #0D1228;
    width: 100%;
    height: 200px; 
    padding: 60px 0;
    position: relative;
}

footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

footer a {
    color: white;
}
